.card{
    text-align: center;
    margin-left: 3rem;
    margin: 0rem;
    background-color: aqua;
    border-radius: 25px;
    float:left;
    flex: 1;
    margin-bottom: -1rem;
    margin-top: 3rem;
    margin-left: 2.5rem;
    max-width: 210px;
    height: 210px;
}
.img{
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-bottom: -2%;
    height: 210px;
    max-width: 210px;
}
.card-name{
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.6em;
    font-family: 'Montserrat', sans-serif;
    max-width: 210px;
    max-height: 60px;
}
.cardTitle{
    font-size: auto;
}
.boton3{
    font-family: 'Montserrat', sans-serif;
    border-radius: 0.5rem;
    background-color: aqua;
    width: 4rem;
    height: 1rem;
    border-width: 0px;
    color: black;
}
.boton3:hover{
    background-color: rgb(0, 255, 72);
        box-shadow:
    0 0 1px #fff,
    0 0 5px #fff,
    0 0 15px #fff,
    0 0 15px #0fa,
    0 0 15px #0fa,
    0 0 20px #0fa,
    0 0 30px #0fa,
    0 0 300px #0fa;
    color: #fff;
}
