.cards_container{
    display: flex;
    /* padding: 15px; */
    /* background-color: antiquewhite */;
}

.card{
    background-color: rgba(255, 235, 205, 0.612);
    color: blue;
    align-items: center;
    text-align: center;
}