
.container{
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 25px;
    margin-bottom: 0rem;
}
.boton1{
    font-family: 'Montserrat', sans-serif;
    border-radius: 0.5rem;
    background-color: aqua;
    width: 4rem;
    height: 1.6rem;
    border-width: 0px;
    color: black;
}
.boton1:hover{
    background-color: rgb(0, 255, 72);
        box-shadow:
    0 0 1px #fff,
    0 0 5px #fff,
    0 0 15px #fff,
    0 0 15px #0fa,
    0 0 15px #0fa,
    0 0 20px #0fa,
    0 0 30px #0fa,
    0 0 300px #0fa;
    color: #fff;
}
.bar{
    border-radius: 0.4rem;
    width: 12rem;
    height: 1.6rem;
}
.boton2{
    text-decoration: none;
    border-radius: 0.5rem;
    width: 4rem;
    height: 1.6rem;
    color:black
}
.boton2:hover{
    color:#fff;
}
.boton3{
    font-family: 'Montserrat', sans-serif;
    border-radius: 0.5rem;
    background-color: aqua;
    width: 4rem;
    height: 1rem;
    border-width: 0px;
    color: black;
}
.boton3:hover{
    background-color: rgb(0, 255, 72);
        box-shadow:
    0 0 1px #fff,
    0 0 5px #fff,
    0 0 15px #fff,
    0 0 15px #0fa,
    0 0 15px #0fa,
    0 0 20px #0fa,
    0 0 30px #0fa,
    0 0 300px #0fa;
    color: #fff;
}
